body {
    background-color: rgb(242, 242, 248);

}
h1 {
    font-family: monospace;
    text-align: center;
    font-size: 35px;
    
}
#container {
    text-align: center;
    padding-bottom: 60;
    background-color: white;
    background-origin: padding-box;
    padding-top: 20px;
    padding-bottom: 20px;

}
.home {
    margin-right: 590px;
    text-decoration: none;
    color: rgb(9, 141, 9);
}
.signup {
    color: rgb(9, 141, 9);
    text-decoration: none;
}
.login {
    margin-left: 30px;
    color: rgb(9, 141, 9);
    text-decoration: none;
}
p {
    text-align: center;
    margin-right: 720px;
    margin-top: 30px;
}
    

.form-control {
    width: 50%;
    margin-left: 20%;
    
}
.submit {
    width: 8%;
    margin-left: 20%;
    margin-top: 3%;
    background-color: green;
    color: white;
    padding: 15px 15px 15px 15px;
}
.footer {
    background-color: white;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.go {
    text-decoration: none;
    color: green;
}